# -*- mode: ruby -*-
# vi: set ft=ruby :

vms = [
    {% for node in nodes %}{:title => "{{ name }}{{ loop.index0 }}", :ip => "{{ subnet_prefix }}.{{ 101 + loop.index0 }}"},
    {% endfor %}
]

Vagrant.configure("2") do |config|
  vms.each do |vmData|
    config.vm.define vmData[:title] do |cfg|
      cfg.vm.hostname = "#{vmData[:title]}"
      cfg.vm.box = "generic-x64/alpine319"
      cfg.vm.network :private_network, :ip => vmData[:ip]

      cfg.vm.provider "libvirt" do |vb|
        vb.driver   = "kvm"
        vb.cpus     = {{ cpus }}
        vb.memory   = {{ node_memory }} * 1024
        vb.storage :file, {
          device: "vdb",
          size: "{{ node_disk }}G",
          type: "qcow2",
          bus: "virtio",
          # allow_existing: true
        }
      end

      cfg.vm.provision "shell", inline: <<-SCRIPT
        apk add --no-cache python3 py3-pip || true
        sudo mkfs.ext4 /dev/vdb
        sudo mkdir -p /var/lib/longhorn
        sudo mount /dev/vdb /var/lib/longhorn
        echo "/dev/vdb      /var/lib/longhorn    ext4    defaults 0 2" | sudo tee -a /etc/fstab
        sudo mkdir -p /var/local.d
        sudo touch /etc/local.d/shared-mount.start
        echo "mount --make-rshared /var/lib/longhorn" | sudo tee -a /etc/local.d/shared-mount.start
        sudo chmod +x /etc/local.d/shared-mount.start
        sudo rc-update add local default
        sudo apk add open-iscsi
        sudo modprobe iscsi_tcp
        sudo apk add nfs-utils
        sudo apk add cryptsetup
        sudo apk add device-mapper
      SCRIPT
    end
  end
end