cluster:
  hosts:
    {% for node in nodes %}
    node{{ loop.index0 }}:
      ansible_host: 192.168.64.{{ 101 + loop.index0 }}
      ansible_user: vagrant
      hostname: node{{ loop.index0 }}.{{ name }}.private
      k3s:
        ip: 192.168.64.{{ 101 + loop.index0 }}
        root_ca_path: certs/root-ca.pem
        root_ca_key_path: certs/root-ca.key
        cluster_name: {{ name }}
        uninstall: false
        node_type: {{ node.type }}
        hostname: node{{ loop.index0 }}.{{ name }}.private
        config_dir: config
        cluster_token: {{ token }}
    {% endfor %}
