# -*- mode: ruby -*-
# vi: set ft=ruby :

vms = [
    {% for node in nodes %}{:title => "{{ name }}{{ loop.index0 }}", :ip => "{{ subnet_prefix }}.{{ 101 + loop.index0 }}"},
    {% endfor %}
]

Vagrant.configure("2") do |config|
  vms.each do |vmData|
    config.vm.define vmData[:title] do |cfg|
      cfg.vm.hostname = "#{vmData[:title]}"
      cfg.vm.box = "generic-x64/alpine319"
      cfg.vm.network :private_network, :ip => vmData[:ip]

      cfg.vm.provider "libvirt" do |vb|
        vb.driver   = "kvm"
        vb.cpus     = {{ cpus }}
        vb.memory   = {{ node_memory }} * 1024
        vb.storage :file, :size => "{{ node_disk }}G"
      end

      cfg.vm.provision "shell", inline: <<-SCRIPT
apk add --no-cache python3 py3-pip || true
      SCRIPT
    end
  end
end
