# -*- mode: ruby -*-
# vi: set ft=ruby :

alpineImage = "generic-x64/alpine319"

vms = [
    {% for node in nodes %}{:title => "{{ name }}{{ loop.index0 }}", :ip => "192.168.64.{{ 101 + loop.index0 }}", :box => alpineImage, :memory => 2, :nets => [
    ]},
    {% endfor %}
]

Vagrant.configure("2") do |config|
  vms.each do |vmData|
    config.vm.define vmData[:title] do |cfg|
      cfg.vm.hostname = "#{vmData[:title]}"
      cfg.vm.box = vmData[:box]
      cfg.vm.network :private_network, :ip => vmData[:ip]
      vmData[:nets].each do |net|
        cfg.vm.network :private_network,
                       :ip => "#{net[:ip]}",
                       :libvirt__network_name => "#{net[:name]}",
                       :libvirt__netmask => "#{net[:mask]}"
      end

      cfg.vm.provider "libvirt" do |vb|
        vb.driver   = "kvm"
        vb.cpus     = 2
        vb.memory   = "#{1024 * vmData[:memory]}"
        vb.storage :file, :size => "#{2 * vmData[:memory]}G"
      end

      cfg.vm.provision "shell", inline: <<-SCRIPT
apk add --no-cache python3 py3-pip || true
      SCRIPT
    end
  end
end
